# Java build files
*.class
*.jar
*.war
*.ear

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle files
.gradle/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db